# Variáveis de ambiente locais (use .env.example como modelo, se houver)
.env

# Logs
*.log

# Dados persistidos localmente fora dos volumes nomeados do Docker (se algum dia usados)
prometheus-data/
grafana-data/

todo.md